.back {
    background-image: url('download.jfif') ;
    /*background-color: blue;8
    */
height: 120px; padding: 20px;
color: rgb(254, 9, 9);
margin: 20px;
text-align: center;
font-size:bigger;
}
.ph {
    color: blueviolet;
    background-color: antiquewhite;
    border: 5px solid yellow;
    padding: 5px;
    box-shadow: 18px 18px 18px blueviolet ;
}
.info {
    color: blue;
    background-color: antiquewhite;
    font-style: inherit;
}
#from {
    color: rgb(223, 22, 22);
    background-color: darkgray;
    font-style: oblique;
    font-size: bolder;
}