.back {
    background-image: url('download.jfif') ;
    /*background-color: blue;8
    */
height: 120px; padding: 20px;
color: rgb(254, 9, 9);
margin: 20px;
text-align: center;
font-size:bigger;
}
.ph {
    color: blueviolet;
    background-color: antiquewhite;
    
    padding: 5px;
    box-shadow: 5px 5px 5px blueviolet ;
}
.info {
    color: blue;
    background-color: antiquewhite;
    font-style: inherit;
}
#from {
    color: rgb(223, 22, 22);
    background-color: rgb(252, 247, 247);
    font-style: oblique;
    font-size: bolder;
}
.footer{
    margin: 20px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: rgb(236, 244, 241);
    border-radius: 2px;
}
.fot-txt{
    font-size: 20px;
    font-weight: 700;
    color: rgb(72, 7, 7);
}
.icon > a{
    margin: 20px;
}
*{
    margin: 20px;
}